#Body-outer {
    position: absolute;
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    top: 13%;
    left: 0%;
}

#infoBanner{
    background-color: rgb(240, 227, 45);
    position: absolute;
    height: 8%;
    width: 100%;
    top: 1%;
    left: 0%;
}

#bigleft{
    position: absolute;
    top: 130%;
    left: 10%;
}

#bigrtop{
    position: absolute;
    background-image: url('../images/Auto-Parts-Store\ copy.png');
    height: 190px;
    width: 31.5%;
    top: 130%;
    left: 52%;
}
#bigrtopimg{
    position: absolute;
    height: 150px;
    width: 150px;
    top: 15%;
    left: 75%;
}
#bigrtopttl{
    position: relative;
    color: rgb(240, 227, 45);
    font-size: x-large;
    font-weight: bolder;
    top: 10%;
    left: 5%;
}
#bigrtopttl2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bolder;
    top: 30%;
    left: 5%;
}

#bigrbottom{
    position: absolute;
    background-image: url('../images/Auto-Parts-Store\ copy.png');
    height: 190px;
    width: 31.5%;
    top: 410%;
    left: 52%;
}

#bigrbottomttl{
    position: absolute;
    color: rgb(240, 227, 45);
    font-size: x-large;
    font-weight: bolder;
    top: 10%;
    left: 5%;
}
#bigrbottomttl2{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bolder;
    top: 30%;
    left: 5%;
}

#ttl1{
    position: absolute;
    color: rgb(14, 11, 184);
    font-size: larger;
    font-weight: bold;
    bottom: 38%;
    left: 11%;
}
#ttl1img{
    position: absolute;
    bottom: 15%;
    left: 10%;
}

#ttl2{
    position: absolute;
    color: rgb(14, 11, 184);
    font-size: larger;
    font-weight: bold;
    bottom: 38%;
    left: 36%;
}
#ttl2img{
    position: absolute;
    bottom: 15%;
    left: 35%;
}

#ttl3{
    position: absolute;
    color: rgb(14, 11, 184);
    font-size: larger;
    font-weight: bold;
    bottom: 38%;
    left: 61%;
}
#ttl3img{
    position: absolute;
    bottom: 15%;
    left: 60%;
}
